<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--定义 start -->
	<!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p (%file:%line\) - %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<!-- 登录 -->
	<!-- <appender name="login"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>D:/metropatrol日志/login.log</File>输出的地址
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/metropatrol日志/login.log.%d.%i</fileNamePattern>
				我也不知道是啥
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				or whenever the file size reaches 64 MB
				<maxFileSize>64 MB</maxFileSize>文件最大的大小
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>日志格式
				%d{yyyy-MM-dd HH:mm:ss},%m%n
			</pattern>
			<charset>UTF-8</charset> 此处设置字符集
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">只保留INFO
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender> -->

	<!-- 用户登录 -->
	<!-- <appender name="UserLogin" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<File>D:/metropatrol日志/UserLogin.log</File>输出的地址 <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
		<fileNamePattern>D:/metropatrol日志/UserLogin.log.%d.%i </fileNamePattern> 
		<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> 
		or whenever the file size reaches 64 MB <maxFileSize>64 MB</maxFileSize>文件最大的大小 
		</timeBasedFileNamingAndTriggeringPolicy> </rollingPolicy> <encoder> <pattern>日志格式 
		%d{yyyy-MM-dd HH:mm:ss},%m%n </pattern> <charset>UTF-8</charset> 此处设置字符集 
		</encoder> <filter class="ch.qos.logback.classic.filter.LevelFilter">只保留INFO 
		<level>INFO</level> <onMatch>ACCEPT</onMatch> <onMismatch>DENY</onMismatch> 
		</filter> </appender> -->

	<!-- 将日志输出到文件 -->
	<!-- <logger name="login" additivity="false"> <level value="info" /> <appender-ref 
		ref="login" /> </logger> -->


	<!-- 将报错日志输出到控制台 -->
	<logger name="CONSOLE" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>